.stack {
    position: absolute;
    margin-top: 50vh;
    margin-left: 50vw;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 440px;
    animation-name: disappear;
    animation-fill-mode: forwards;
    animation-duration: 0.1s;
    animation-delay: 2s;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.card {
    width: 300px;
    height: 400px;
    /* background-image: url('../images/background_card.png'); */
    background: radial-gradient(rgb(39, 39, 39), rgb(26, 26, 26));
    background-size: cover;
    border: 10px solid white;
    border-radius: 12px;
    position: absolute;
    transform: translateY(0);
    animation: onTop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    box-shadow: 2px 2px 10px black(180, 181, 185, .5)
}

.card.one {
    left: 0;
    top: 0;
    z-index: 2;
    animation-name: onTop;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.card.two {
    left: 20px;
    top: 20px;
    z-index: 1;
    animation-name: onMiddle;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.card.three {
    left: 40px;
    top: 40px;
    z-index: 0;
    animation-name: onBottom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.card span {
    font-size: 70px;
    color: white;
    font-family: sans-serif;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes onTop {
    5% {
        transform: translateY(-300px);
        z-index: 1;
        left: 20px;
        top: 20px;
    }

    10% {
        transform: translateY(0);
        z-index: 0;
        left: 40px;
        top: 40px;
    }

    40% {
        transform: translateY(0);
        z-index: 0;
        left: 40px;
        top: 40px;
    }

    50% {
        transform: translateY(0);
        z-index: 1;
        left: 20px;
        top: 20px;
    }

    70% {
        transform: translateY(0);
        z-index: 1;
        left: 20px;
        top: 20px;
    }

    80% {
        transform: translateY(0);
        z-index: 2;
        left: 0;
        top: 0;
    }

}

@keyframes onMiddle {
    10% {
        transform: translateY(0);
        z-index: 2;
        left: 0;
        top: 0;
    }

    40% {
        transform: translateY(0);
        z-index: 2;
        left: 0;
        top: 0;
    }

    45% {
        transform: translateY(-300px);
        z-index: 1;
        left: 20px;
        top: 20px;
    }

    50% {
        transform: translateY(0);
        z-index: 0;
        left: 40px;
        top: 40px;
    }

    70% {
        transform: translateY(0);
        z-index: 0;
        left: 40px;
        top: 40px;
    }

    80% {
        transform: translateY(0);
        z-index: 1;
        left: 20px;
        top: 20px;
    }
}

@keyframes onBottom {
    10% {
        transform: translateY(0);
        z-index: 0;
        left: 20px;
        top: 20px;
    }

    40% {
        transform: translateY(0);
        z-index: 1;
        left: 20px;
        top: 20px;
    }

    50% {
        transform: translateY(0);
        z-index: 2;
        left: 0;
        top: 0;
    }

    70% {
        transform: translateY(0);
        z-index: 2;
        left: 0;
        top: 0;
    }

    75% {
        transform: translateY(-300px);
        z-index: 1;
        left: 20px;
        top: 20px;
    }

    80% {
        transform: translateY(0);
        z-index: 0;
        left: 40px;
        top: 40px;
    }
}

body {
    margin: 0;
    margin-left: -20px;
    padding: 20px;
    font-family: sans-serif;
    transition-duration: 1s;
    overflow-x: hidden;
    background: radial-gradient(rgb(0, 54, 0), rgb(0, 39, 0));
    background-size: cover;
    background-attachment: local;
    position: static;

}

.content {
    opacity: 0;
    animation-name: visible;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

/* Loading body after the loading state */
@keyframes visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


body h1 {
    left: 130px;
    font-size: 60px;
    color: red;
    text-align: center;
}


section {
    opacity: 0;
}

/* Add style to main section and make it responsive */
#main-section article,
#filtered-section article {
    margin: 30px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    animation-name: slide-in;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    0% {
        /* transform: rotate(250deg); */
        transform: translate(-100%, 50%) rotate(250deg);

    }

    100% {

        transform: rotate(360deg);

    }
}


#main-section,
#filtered-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

img {
    width: 308px;
    height: 450px;
    box-shadow: 4px 4px 10px black;
    border: 10px solid white;
    border-radius: 15px;
}

article:hover img {
    transform: rotateY(180deg);
    opacity: 0;
    transition: 0.5s;
}

.info {
    padding: 10px;
    color: white;
    position: absolute;
    opacity: 0;
    margin: 10px;
    background: radial-gradient(rgb(39, 39, 39), rgb(26, 26, 26));
    width: 308px;
    height: 450px;
    box-shadow: 4px 4px 10px black;
    border-radius: 15px;
    border: 8px solid white;
}

.info h2,
.info p {
    transform: scaleX(-1);

}

article:hover .info {
    opacity: 1;
    transform: rotateY(180deg);
    transition: 0.7s;
}


article h2,
p {
    margin-left: 18px;
}

#main-section a,
#filtered-section a {
    text-decoration: none;
    color: darkgrey;
    font-size: 30px;
    font-weight: bold;
    background: radial-gradient(rgb(230, 0, 0), rgb(134, 0, 0));
    box-shadow: 2px 2px 7px black;
    padding: 10px 15px;
    border-radius: 20px;
    position: absolute;
    top: 380px;
    left: 20px;
}

#main-section a:hover,
#filtered-section a:hover {
    color: white;
    transition: 0.25s;
}

a.save-button {
    margin-left: 225px;
}

a.save-button:hover #main-section article {}

/* Add style to detail section and make it responsive */
section {
    opacity: 0;
    transition: 0.3s;
}

section.active {
    opacity: 1;
    height: 100%;
    top: 230px;
    position: absolute;
}

form {
    text-align: center;
}

input {
    position: absolute;
    top: 28px;
    right: 130px;
    max-width: 350px;
    height: 55px;
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 7px black;
    border: none;
    opacity: 0.9;
}

/* Add some style to the svg */
svg {
    position: absolute;
    top: 20px;
    height: 20px;
    border: red;
    background: radial-gradient(rgb(39, 39, 39), rgb(26, 26, 26));
    box-shadow: 2px 2px 7px black;
    border-radius: 15px;
}

path {
    fill: #5c5c5c;
}

svg:hover path {
    fill: red;
    stroke: red;
}


#homebutton,
#searchbutton {
    position: absolute;
    z-index: 129012;
    height: 20px;
    width: 20px;
    fill: none;
    stroke: #5c5c5c;
    stroke-width: 20px;
    padding: 20px;
}

#homebutton:hover,
#searchbutton:hover {
    stroke: red;
}

#homebutton {
    left: 50px;
    top: 25px;
}

#searchbutton {
    right: 50px;
    top: 25px;
}

/* Adding style to the detail section */

#detail-section.active {
    position: absolute;
    margin-top: 20.5vh;
    margin-left: 50vw;
    padding: 0 20px 20px 20px;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 560px;
    color: white;
    background: radial-gradient(rgb(34, 34, 34), rgb(26, 26, 26));
    border: 10px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    opacity: 1;
}

#detail-section.active h2 {
    font-size: 40px;
    padding-left: 20px;
}

#detail-section.active p {
    font-size: 20px;
}

#detail-section.active ul {
    font-size: 20px;
    margin-top: 10px;
}

#detail-section.active li {
    margin-top: 15px;
}